default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\WebContext
                - App\Tests\Behat\PhotoContext

    extensions:
        FriendsOfBehat\SymfonyExtension: ~